/////////////////////////////////////////// COLORS ///////////////////////////////////////////

$color-blue: #27aae1;
$color-red: #FF0022;
$color-green: #04E762;
$color-grey: #eeeeee;
$color-text-grey: #666666;

/////////////////////////////////////////// END COLORS ///////////////////////////////////////////