<app-home-nav></app-home-nav>
	<div class="topImage"></div>
	<div id="about">
	
		<div class="container">
			<div class="content">
				<!-- <div class="topImage"></div> -->
				<div class="topText">Our Vision</div>
				<div class="topQuote">“You’re so much more than a paper resume. Set yourself apart and introduce yourself on MyIntro to employers, clients, and others in your community.”</div>
				<p class="text">MyIntro is a professional-social network that allows you to introduce yourself via video to employers, clients, and others in your community. There is finally a way for you to master your first impression prior to an interview, and one place where recruiters or others in your network can search and find out who you are and what you really have to offer.<br><br>We know that all of your experiences shape your professional journey and we’ve made it easy for you to share that story. MyIntro provides the platform for you to tell your professional story via video in 2 minutes or less. Your Intro Video is basically your “elevator pitch” to employers, clients, and others in your community. In essence it allows you to connect the dots between where you’ve been, where you are, and where you’re going in a more engaging way. Employers are using our website and mobile app to search for candidates like you. Take this opportunity to set yourself apart and join MyIntro today!</p>
				<p class="text text2">Need some help getting started on your Intro Video? Check out Bethany and Peony’s videos to see how the shared their professional stories!</p>
				<div class="videoContainer">
					<div class="video video1">
						<div class="videoImage"></div>
						<div class="playButton">
							<div class="button"><i class="material-icons">play_arrow</i><br><br>Play Bethany's Story</div>
						</div>
						<!-- <video autoplay controls preload playsInline> -->
							
						<!-- </video> -->
					</div>
					<div class="video video2">
						<div class="videoImage"></div>
						<div class="playButton">
							<div class="button"><i class="material-icons">play_arrow</i><br><br>Play Peony's Story</div>
						</div>
						<!-- <video autoplay controls preload playsInline></video> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-bottom-nav></app-bottom-nav>