<!-- <app-nav-old></app-nav-old> -->
<app-home-nav></app-home-nav>
<div class="content_container">
		<div class="bucket blue"></div>
		<div class="bucket white"></div>
		<div id="demoStarter">Start Demo</div>
		<span id="welcome">Welcome</span>
		<div id="phone">
			<div class="content">
				<div class="demo" id="demo">
					<div class="screen screen1 img visible" id="demo_start_screen"></div>
					<div class="screen screen2 img" id="demo_facebook_login"></div>
					<div class="screen screen3 img" id="demo_agree_to_terms"></div>
					<div class="screen screen4 img" id="demo_opportunities"></div>
					<div class="screen screen5 img invisible" id="demo_opportunities2"></div>
					<div class="screen screen6 img" id="demo_five_words"></div>
					<div class="screen screen7 img invisible" id="demo_five_words2"></div>
					<div class="screen screen8 img invisible" id="demo_five_words3"></div>
					<div class="screen screen9 img invisible" id="demo_five_words4"></div>
					<div class="screen screen10 img invisible" id="demo_five_words5"></div>
					<div class="screen screen11 img invisible" id="demo_five_words6"></div>
					<div class="screen screen12 img invisible" id="demo_five_words7"></div>
					<div class="screen screen26 img" id="demo_profile"></div>
					<div class="screen screen27 img invisible" id="demo_profile2"></div>
					<div class="screen screen28 img invisible" id="demo_profile3"></div>
					<div class="screen screen13 img" id="demo_companies"></div>
					<div class="screen screen14 img invisible" id="demo_companies2"></div>
					<div class="screen screen15 img" id="demo_search"></div>
					<div class="screen screen16 img invisible" id="demo_search2"></div>
					<div class="screen screen17 img invisible" id="demo_search3"></div>
					<div class="screen screen18 img invisible" id="demo_search4"></div>
					<div class="screen screen21 img invisible" id="demo_accenture"></div>
					<div class="screen screen22 img invisible" id="demo_accenture2"></div>
					<div class="screen screen26 img invisible" id="demo_accenture_video"></div>
					<div class="screen screen23 img" id="demo_friends"></div>
					<div class="screen screen24 img invisible" id="demo_friends2"></div>
					<div class="screen screen25 img invisible" id="demo_friends3"></div>
					<div class="screen screen19 img" id="demo_messages"></div>
					<div class="screen screen20 img" id="demo_messages2"></div>
				</div>
			</div>
		</div>
		<!-- <a href="https://appsto.re/us/a2Pejb.i" id="badge_link"><div id="badge"></div></a> -->
		<div class="myintro_slogan">Introduce Yourself</div>
  </div>
  <app-bottom-nav></app-bottom-nav>